<div class="container">
    <h1>Adicionar Cartão</h1>
    <form [formGroup]="boardingPassForm" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="fill">
        <mat-label>Número</mat-label>
        <input matInput formControlName="number" type="number" required>
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>Tipo de Cartão</mat-label>
        <mat-select formControlName="typeBoardingPass" required>
          <mat-option *ngFor="let type of typeBoardingPasses" [value]="type">{{type}}</mat-option>
        </mat-select>
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>Status</mat-label>
        <mat-select formControlName="status" required>
          <mat-option [value]="true">Ativo</mat-option>
          <mat-option [value]="false">Inativo</mat-option>
        </mat-select>
      </mat-form-field>
  
      <button mat-raised-button color="primary" type="submit">Adicionar</button>
    </form>
  </div>
